
.ads_img1 img{
    width: 800px ;
    position: relative;
    z-index: -1;
     
}
.ads_img1{
    width: 800px;
    margin: auto;
    margin-top: 35px;
    height: 400px;
    position: relative;

}
.ads_img1 i{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    cursor: pointer;

}