  <div class="all_categories">
    <div class="allcatsubmenu">
      <div class="all_cat_subflex">
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>OLX Autos (Cars)</span></a></div>
        </div>
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>Properties</span></a> </div>
          <div class="subsubmenus"><a href=""><span>For Sale:House & Apartments</span></a></div>
          <div class="subsubmenus"><a href=""><span>For Rent:House & Apartments</span></a></div>
          <div class="subsubmenus"><a href=""><span>Lands & Plots</span></a></div>
          <div class="subsubmenus"><a href=""><span>For Rent: Shops & Offices</span></a></div>
          <div class="subsubmenus"><a href=""><span>For Sale:Shops & Offices</span></a></div>
          <div class="subsubmenus"><a href=""><span>PG & Guest Houses</span></a></div>
        </div>
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>Mobiles</span></a> </div>
          <div class="subsubmenus"><a href=""><span>Mobile Phones</span></a></div>
          <div class="subsubmenus"><a href=""><span>Accessories</span></a></div>
          <div class="subsubmenus"><a href=""><span>Tablets</span></a></div>
        </div>
      </div>
      <div class="all_cat_subflex">
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>Jobs</span></a> </div>
          <div class="subsubmenus"><a href=""><span>Data entry & Back office</span></a></div>
          <div class="subsubmenus"><a href=""><span>Sales & Marketing</span></a></div>
          <div class="subsubmenus"><a href=""><span>BPO & Telecaller</span></a></div>
          <div class="subsubmenus"><a href=""><span>Driver</span></a></div>
          <div class="subsubmenus"><a href=""><span>Office Assistant</span></a></div>
          <div class="subsubmenus"><a href=""><span>Delivery & Collection</span></a></div>
          <div class="subsubmenus"><a href=""><span>Teacher</span></a></div>
          <div class="subsubmenus"><a href=""><span>Cook</span></a></div>
          <div class="subsubmenus"><a href=""><span>Receptionist & Front office</span></a></div>
          <div class="subsubmenus"><a href=""><span>Operator & Technician</span></a></div>
          <div class="subsubmenus"><a href=""><span>IT Engineer & Developer</span></a></div>
          <div class="subsubmenus"><a href=""><span>Hotel & Travel Executive</span></a></div>
          <div class="subsubmenus"><a href=""><span>Accountant</span></a></div>
          <div class="subsubmenus"><a href=""><span>Designer</span></a></div>
          <div class="subsubmenus"><a href=""><span>Other Jobs</span></a></div>
        </div>
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>Bikes</span></a> </div>
          <div class="subsubmenus"><a href=""><span>Motorcycles</span></a></div>
          <div class="subsubmenus"><a href=""><span>Scooters</span></a></div>
          <div class="subsubmenus"><a href=""><span>Spare Parts</span></a></div>
          <div class="subsubmenus"><a href=""><span>Bicycles</span></a></div>
        </div>
      </div>
      <div class="all_cat_subflex">
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>Electronics & Appliances</span></a> </div>
          <div class="subsubmenus"><a href=""><span>TVs, Video - Audio</span></a></div>
          <div class="subsubmenus"><a href=""><span>Kitchen & Other Appliances</span></a></div>
          <div class="subsubmenus"><a href=""><span>Computer & Laptops</span></a></div>
          <div class="subsubmenus"><a href=""><span>Cameras & Lenses</span></a></div>
          <div class="subsubmenus"><a href=""><span>Game & Entertainment</span></a></div>
          <div class="subsubmenus"><a href=""><span>Fridges</span></a></div>
          <div class="subsubmenus"><a href=""><span>Computer Accessories</span></a></div>
          <div class="subsubmenus"><a href=""><span>Hard Disks, Printers & Monitors</span></a></div>
          <div class="subsubmenus"><a href=""><span>ACs</span></a></div>
          <div class="subsubmenus"><a href=""><span>Washing Machines</span></a></div>
        </div>
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>Commercial Vehicles & Spares</span></a> </div>
          <div class="subsubmenus"><a href=""><span>Commercial & Other Vehicles</span></a></div>
          <div class="subsubmenus"><a href=""><span>Spare Parts</span></a></div>
        </div>
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>Furniture</span></a> </div>
          <div class="subsubmenus"><a href=""><span>Sofa & Dining</span></a></div>
          <div class="subsubmenus"><a href=""><span>Beds & Wardrobes</span></a></div>
          <div class="subsubmenus"><a href=""><span>Home Decor & Garden</span></a></div>
          <div class="subsubmenus"><a href=""><span>Kids Furniture</span></a></div>
          <div class="subsubmenus"><a href=""><span>Other Household Items</span></a></div>
        </div>
      </div>
      <div class="all_cat_subflex">
        <div class="catssubmenumainheading">
          <div class="catssubmenumainheading">
            <div class="subheading"><a href=""><span>Fashion</span></a> </div>
            <div class="subsubmenus"><a href=""><span>Men</span></a></div>
            <div class="subsubmenus"><a href=""><span>Women</span></a></div>
            <div class="subsubmenus"><a href=""><span>Kids</span></a></div>
          </div>
          <div class="subheading"><a href=""><span>Books, Sports & Hobbies</span></a> </div>
          <div class="subsubmenus"><a href=""><span>Books</span></a></div>
          <div class="subsubmenus"><a href=""><span>Gym & Fitness</span></a></div>
          <div class="subsubmenus"><a href=""><span>Musical Instruments</span></a></div>
          <div class="subsubmenus"><a href=""><span>Sports Equipment</span></a></div>
          <div class="subsubmenus"><a href=""><span>Other Hobbies</span></a></div>
        </div>
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>Pets</span></a> </div>
          <div class="subsubmenus"><a href=""><span>Fishing & Aquarium</span></a></div>
          <div class="subsubmenus"><a href=""><span>Pet Food & Accessories</span></a></div>
          <div class="subsubmenus"><a href=""><span>Dogs</span></a></div>
          <div class="subsubmenus"><a href=""><span>Other Pets</span></a></div>
        </div>
        <div class="catssubmenumainheading">
          <div class="subheading"><a href=""><span>Services</span></a> </div>
          <div class="subsubmenus"><a href=""><span>Electronics & Computer</span></a></div>
          <div class="subsubmenus"><a href=""><span>Education & Classes</span></a></div>
          <div class="subsubmenus"><a href=""><span>Drivers & Taxi</span></a></div>
          <div class="subsubmenus"><a href=""><span>Health & Beauty</span></a></div>
          <div class="subsubmenus"><a href=""><span>Other Services</span></a></div>
        </div>

      </div>
    </div>
  </div>
