<div class="container mt-3">
  <div>
    <h4>Fresh Recommendations</h4>
  </div>

  <div
    class="d-flex justify-content-center align-items-center mt-4 flex-column"
  >
    <div class="row row-cols-1 row-cols-md-4 g-4">
      @for (product of products(); track product.id) {
      <app-products [product]="product" />
      }

      @if (loadMore()) {
        @for (product of products(); track product.id) {
          <app-products [product]="product" />
        }
      }

    </div>

    <div (click)="onLoadMore()" class="align-items-center mt-4">
      <button type="button" class="btn btn-light border-3 border-dark">
        {{ loadMoreText() }}
      </button>
    </div>


  </div>
</div>
