<footer class="border-top d-flex flex-column p-5" style="background-color: #EBEEEF;">
    <div class="row">
   

      <div class="col-4 col-md">
        <h5>POPULAR LOCATIONS</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Kolkata</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Mumbai</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Chennai</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Pune</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5>TRENDING LOCATIONS</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Bhubaneshwar</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Hyderabad</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Chandigarh</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Nashik</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5>ABOUT US</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Tech&#64;OLX</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5>OLX</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Blog</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Help</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Sitemap</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Legal & Privacy information</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Vulnerability Disclosure Program</a></li>
        </ul>
      </div>


    </div>
  </footer>