<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

<div id="main-heading-navbar">
    <div class="header">
      <div class="navbar">
        <svg width="350px" height="48px" viewBox="0 0 1024 1024" data-aut-id="icon" class="" fill-rule="evenodd"><path class="rui-w4DG7" d="M661.333 256v512h-128v-512h128zM277.333 298.667c117.824 0 213.333 95.531 213.333 213.333s-95.509 213.333-213.333 213.333c-117.824 0-213.333-95.531-213.333-213.333s95.509-213.333 213.333-213.333zM794.496 384l37.504 37.504 37.504-37.504h90.496v90.496l-37.504 37.504 37.504 37.504v90.496h-90.496l-37.504-37.504-37.504 37.504h-90.496v-90.496l37.504-37.504-37.504-37.504v-90.496h90.496zM277.333 426.667c-47.061 0-85.333 38.293-85.333 85.333s38.272 85.333 85.333 85.333c47.061 0 85.333-38.293 85.333-85.333s-38.272-85.333-85.333-85.333z"></path></svg>

        <div class="country_select" id="country">
          <div class="select">
            <p id="text"> Location </p>
            <i class="fa-solid fa-chevron-down" id="moving"></i>
             
          </div>


          <ul class="option_box" id="list">
            <li class="option" onclick="myfunction('West Bengal')">
              <i class="fa-solid fa-location-dot"></i>
              <p>West Bengal</p>
            </li>
            <li class="option" onclick="myfunction('Uttar Pradesh')">
              <i class="fa-solid fa-location-dot"></i>
              <p>Uttar Pradesh</p>
            </li>
            <li class="option" onclick="myfunction('Karnataka')">
              <i class="fa-solid fa-location-dot"></i>
              <p>Karnataka</p>
            </li>
            <li class="option" onclick="myfunction('Bihar')">
              <i class="fa-solid fa-location-dot"></i>
              <p>Bihar</p>
            </li>
            <li class="option" onclick="myfunction('Maharashtra')">
              <i class="fa-solid fa-location-dot"></i>
              <p>Maharashtra</p>
            </li>
          </ul>
        </div>





        <div class="search_box">
          <input type="text" class="searchclass" id="searchid" placeholder="Find Cars, mobile phone and More....">
          <p> <i class="fa-solid fa-magnifying-glass"></i> </p>
        </div>




        <div class="language">
          <p id="eng_tag"> English</p> <i class="fa-solid fa-chevron-down" id="moving"></i>

          <ul class="hin_eng">
            <li onclick="languageolx('English')"> English </li>
            <li onclick="languageolx('हिन्दी')">हिन्दी</li>
          </ul>

        </div>



        <div class="message">
          <a ><i class="fa-regular fa-comment"></i></a>
        </div>




        <div class="message">
          <i class="fa-regular fa-bell"></i>
        </div>
        <div class="your_logo">
          <div class="person_img" id="person_img_id">
            
          
             
            <app-login-profile (close)="toggleLogin()"></app-login-profile>


            @if (showLogin()) {
              <app-login-modal (close)="toggleLogin()" />
            }


          </div>
        </div>





        <div class="selling_page">
          <button id="goToSell"> <i class="fa-solid fa-plus"></i>
            <p> SELL</p>
          </button>
        </div>


      </div>
    </div>

  </div>

  <app-subnavbar />