


    <div class="image_discription">

        <div class="swiper">

            <div class="swiper-wrapper">
                
                <div class="swiper-slide"><img src="images/pro_1.jpg" alt=""></div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev" id="prev"></div>
            <div class="swiper-button-next" id="next"></div>


        </div>

        <div class="discription">
            <h3>Discription</h3>
            <p>Convert your TV into smart TV usnig HDMI of your TV. All online platform available downloaded.<br>
                Include MI stick, Blutooth remote, Power adapter.<br>
                Conditon new.<br>
                MRP 5,990
            </p>
        </div>
