<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<div class="hedder">
  <div class="navbar">
    <img id="olx-logo" src="/images/img1.png" alt="Olx-log" />

    <div class="contry_select" (click)="toggleCountries()">
      <div class="select">
        <p>Select your country</p>
        <i class="fa-solid fa-chevron-down"></i>
      </div>

      @if (showCountries()) {
      <app-country-drop-down></app-country-drop-down>
      }
    </div>

    <div class="search_box">
      <input
        type="text"
        class="searchclass"
        id="searchid"
        placeholder=" Find Cars, Mobiles Phones and More ......."
      />

      <p><i class="fa-solid fa-magnifying-glass"></i></p>
    </div>

    <div class="language" (click)="toggleLanguages()">
      <p class="eng_tag">English</p>
    
      @if (showLanguages()) {
        <app-languages-drop-down />
      }

    </div>

    <div class="messeage">
      <i class="fa-regular fa-comment"></i>
    </div>

    <div class="messeage">
      <i class="fa-regular fa-bell"></i>
    </div>

    <div class="your_logo" >
      <div class="girl_img" id="girl_img_id">
        <img src="/images/profile.jpg" (click)="toggleProfile()" />
      </div>

      @if (showProfile()) {
          <app-profile-drop-down />
      }

    </div>

    <div class="selling_page">
      <button>
        <i class="fa-sharp fa-solid fa-plus"></i>
        <p>SELL</p>
      </button>
    </div>
  </div>
</div>
