<div class="dropdown" id="dropdownid">
  <div class="nameandimg">
    <img src="/images/profile.jpg" />
    <p>Edgar Humphrey</p>
  </div>

  <ul>
    <li>
      <i class="fa-regular fa-user"></i>
      <p>My Acccount</p>
    </li>

    <li>
      <i class="fa-solid fa-box"></i>
      <p>My Orders</p>
    </li>
    <hr />

    <li>
      <i class="fa-sharp fa-regular fa-circle-question"></i>
      <p>Help</p>
    </li>

    <li>
      <i class="fa-solid fa-gear"></i>
      <p>Setting</p>
    </li>

    <hr />

    <li>
      <i class="fa-solid fa-right-from-bracket"></i>
      <p>Log Out</p>
    </li>
  </ul>
</div>
