<ul class="option_box" id="list">
    <li class="option" (click)="onLocationChange('West Bengal')">
      <i class="fa-solid fa-location-dot"></i>
      <p>West Bengal</p>
    </li>
    <li class="option" (click)="onLocationChange('Uttar Pradesh')">
      <i class="fa-solid fa-location-dot"></i>
      <p>Uttar Pradesh</p>
    </li>
    <li class="option" (click)="onLocationChange('Karnataka')">
      <i class="fa-solid fa-location-dot"></i>
      <p>Karnataka</p>
    </li>
    <li class="option" (click)="onLocationChange('Bihar')">
      <i class="fa-solid fa-location-dot"></i>
      <p>Bihar</p>
    </li>
    <li class="option" (click)="onLocationChange('Maharashtra')">
      <i class="fa-solid fa-location-dot"></i>
      <p>Maharashtra</p>
    </li>
  </ul>