* {
    overflow: hidden;
}

.wrapper {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 25%;
  background-color: #fff;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;

}
h2 {
  margin-top: 0;
  color: #333;
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.close:hover {
  color: #06d85f;
}
.content {
  max-height: 30%;
  overflow: auto;
}

.guitar-img {
  height: 100px;
  width: 100px;
}

.continuephone {
  border: 1px solid black;
  padding: 10px;
  margin: 15px 0px;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  transition: 500ms;
}

.continuephone:hover {
  border: 3px solid;
}

.continueemail {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
}

.continueemail:hover {
  border: 5px solid;
}

.containerpopup {
  text-align: center;
}

.containerpopup p {
  text-align: center;
}

.privacy-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  margin-top: 50px;
}

.terms-link {
  color: #007bff;
  text-decoration: none;
}

.terms-link:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 0, 0.5);
  z-index: 50;
}
