<div class="wrapper">
  <h2></h2>
  <a (click)="onClose()" class="close">&times;</a>
  <div class="content">
    <div class="containerpopup">
      <img
        class="guitar-img"
        src="https://statics.olx.in/external/base/img/loginEntryPointPost.webp"
        alt="guitar image"
      />

      <div class="continuephone">
        <i class="fa-solid fa-mobile"></i>
        <span style="margin-left: 10px">Continue with Phone</span>
      </div>

      <div id="google-btn">

      </div>

      <div>
        <p class="privacy-text">All your personal details are safe with us.</p>
        <p>
          If you continue, you are accepting
          <a href="#" class="terms-link"
            >OLX Terms and Conditions and Privacy Policy</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<div (click)="onClose()" class="overlay"></div>
