<div class="mt-5 main">
    <div>
      <img src="https://statics.olx.in/external/base/img/phone-app.webp" alt="some image">
    </div>

    <div>
      <span class="fs-1">
        Try the olx app
      </span>
      <p class="fs-5" style="width: 400px;">
        Buy, sell and find just about anything using the app on your mobile.
      </p>

    </div>

    <div>
      <span class="fw-bold">
        Get your app today
      </span>
      <div class="d-flex flex-column" style="gap: 10px;">
        <img src="https://statics.olx.in/external/base/img/appstore_2x.webp" alt="app store">
        <img src="https://statics.olx.in/external/base/img/playstore_2x.webp" alt="google store">
      </div>
    </div>

  </div>